*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0;
    margin: 0;
}
body {
    color: #516171;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 500;
    color:  #092032;
}

.bg-cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

img {
    width: 100%;
}

a {
    color:  #092032;
    transition: all 0.4s ease;
    font-weight: 500;
}

a:hover {
    color: #ff4d29;
}

section {
    padding-top: 80px;
    padding-bottom: 80px;
}

.text-brand {
    color:  #ff4d29 !important;
}


 .slide {
     min-height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
     position: relative;
}

.slide1 {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/one.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slide2 {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/two.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.slide3 {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/three.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slide .display-3 {
    text-transform: uppercase;
    color: #fff;
}


.top-nav {
    background-color:  #ff4d29;
    color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
}
.top-nav .container{
    display:flex;
    justify-content: space-between;
}
.top-nav p {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 10px;
}

.top-nav span,
.top-nav i {
    vertical-align: middle;
}

.navbar {
    box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
}

.icons a {
    width: 28px;
    height: 28px;
    display: inline-flex;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.25);
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
}

.icons a:hover {
    background-color: #fff;
    color:  #ff4d29;
}
.ptd{
    margin: 20px 0;
    text-transform: uppercase;;
}
.ptd a{
   color: #fff;
   margin: 0 10px;
}

.navbar .navbar-nav .nav-link {
    color:  #092032;
}

.navbar .navbar-nav .nav-link:hover {
    color:  #ff4d29;
}

.navbar .navbar-nav .nav-link.active {
    color:  #ff4d29;
}

.navbar-brand {
    font-size: 28px;
    font-weight: 700;
}

.navbar-brand .dot {
    color:  #ff4d29;
}

.btn {
    padding: 8px 26px;
}

.btn-brand {
    border-color:  #ff4d29;
    background-color:  #ff4d29;
    color: #fff;
}

.btn-brand:hover {
    background-color: #d64022;
    border-color: #d64022;
    color: #fff;
}

.intro {
    margin-bottom: 36px;
    text-align: center;
}

.intro p {
    max-width: 500px;
}
.intro h6{
    color:  #ff4d29;
    font-weight: 400;
    text-transform: uppercase;
}

.intro h1 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.info-box {
    align-items: center;
    display: flex;
}

.info-box img {
    width: 90px;
}


#milestone {
    background: linear-gradient(rgba(255, 77, 41, 0.85), rgba(255, 77, 41, 0.85)), url(../img/one.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#milestone h1,
#milestone p {
    color: #fff;
}

.service {
    padding: 32px;
    background-color: #fff;
    box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
}

.service h5 {
    margin-top: 24px;
    margin-bottom: 14px;
}

.service img {
    width: 90px;
}


.project {
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.project h6 {
    font-weight: 400;
}

.project h6::before {
    content: "";
    height: 2px;
    width: 30px;
    display: inline-block;
    background:  #ff4d29;
    vertical-align: middle;
    margin-right: 10px;
}


.project .overlay {
    width: 100%;
    height: 220px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(255, 76, 41, 0) 0%,  #092032 100%);
}

.project .content {
    position: absolute;
    left: 10%;
    bottom: 10%;
}

.project h2,
.project h6 {
    color: #fff;
}

.team-member {
    text-align: center;
}

.team-member .image{
    position: relative;
    z-index: 2;
    overflow: hidden;
    border-radius: 62% 38% 58% 42% / 53% 39% 61% 47%;
}

.team-member .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: -10%;
    background-color: rgba(255, 77, 41, 0.7);
    opacity: 0;
    transition: all 0.4s ease;
}

.team-member h5 {
    margin-top: 16px;
    margin-bottom: 4px;
}
#team .mx-auto{
    text-align :justify;
}
.team-member .icons {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    opacity: 0;
    transition: all 0.4s ease;
}

.team-member .icons a {
    width: 40px;
    height: 40px;
}

.team-member:hover .icons {
    top: 50%;
    opacity: 1;
}

.team-member:hover .overlay {
    top: 0%;
    opacity: 1;
}

#reviews {

    background: linear-gradient(-90deg, rgba(8, 32, 50, 0.8), rgba(8, 32, 50, 0.8)), url(../img/three.jpg), #082032;;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.review {
    text-align: center;
    z-index: 2;
    position: relative;
    margin: 15px;
    max-width: 768px;
    margin: auto;
}
.review h3{
    text-align: justify;
}
.review .bxs-quote-alt-left {
    font-size: 120px;
    position: absolute;
    opacity: 0.1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.review img {
    width: 80px !important;
    height: 80px;
    border-radius: 100px;
    margin: auto;
}

.review h5 {
    margin-top: 16px;
    margin-bottom: 4px;
    color: #fff;
}

.review h3 {
    margin-top: 26px;
    margin-bottom: 26px;
    font-size: 22px;
    color: #fff;
    font-weight: 400;
    line-height: 1.7;
}

.review small {
    color:  #ff4d29;
}

.review .stars {
    color:  #ff4d29;
}

.blog-post {
    position: relative;
    background-color: #fff;
    box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
}

.blog-post .content {
    padding: 32px;
}

.blog-post a {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color:  #ff4d29;
    padding: 2px 12px;
    border-radius: 100px;
    text-decoration: none;
    color: #fff;
}

.blog-post h5 {
    margin-top: 12px;
    margin-bottom: 12px;
}

.blog-post small {
    text-transform: uppercase;
    color:  #ff4d29;
    text-decoration: underline;
}

footer {
    background: linear-gradient(0deg, rgba(8, 32, 50, 0.9), rgba(8, 32, 50, 0.9)), url(../img/1\ \(8\).jpg), #082032;;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

footer .footer-top {
    padding-top: 70px;
    padding-bottom: 30px;
}

.footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}

footer .navbar-brand {
    color: #fff;
}

footer p {
    color: #ADB3B9;
}

footer .icons a {
    width: 50px;
    height: 50px;
    font-size: 20px;
    margin-left: 4px;
    margin-right: 4px;
}


input.form-control {
    border-color: transparent;
    height: 40px;
}

.form-control:focus {
    box-shadow: none;
    border-color:  #000000;
}
@media screen and (max-width:450px)
{
    .top-nav {
        font-size: small;
        
    }
    .top-nav .container{
        display:flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .top-nav p {
        margin-right: 0px;
    }
}
@media screen and (min-width:900px){
    #about .container{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}




                            
       
       
       
       
                     
       
       
       
       
       
       
                            
       
       
       
       
       
       
       
       
       
                                   
       
       
       
                          
                     
              
                        
                                   